{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <form method="post" action="{{ path('app_login') }}" class="col-md-6 mx-auto mt-5">

        <h1 class="h3 mb-3 fw-normal text-center">Please Sign In</h1>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="mb-3">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail" name="email" value="{{ last_username }}" required autofocus>
        </div>

        <div class="mb-3">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword" name="password" required>
        </div>

        <button type="submit" class="btn btn-primary w-100">Sign In</button>

        <div class="text-center mt-3">
            
            <p class="form-text">Don't have an account? 
                <a href="{{ path('app_registration') }}" class="fw-bold text-decoration-none">Create an account</a>
            </p>
        </div>
    </form>
</div>
{% endblock %}
